/* Global CSS File */

/* For Sticky Footer */
.Content {
  flex: 1 0 auto;
}

.Footer {
  flex-shrink: 0;
}

h1 {
  text-align: center;
}

/* Login & Register Page */
.form-container {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 3.375rem;
}

.form-heading {
  width: 128px;
  height: 48px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.81);
  margin: 32px auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  text-transform: uppercase;
  color: #747d88;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
  color: rgb(250, 250, 250);
  padding-left: 0.9rem;
  border: 1px solid #f27a54;
  box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
  width: 100%;
  height: 40px;
}

.form-group {
  margin-top: 0.9rem;
}

.btn-submit {
  text-align: right;
  padding: 0.6rem 0.8rem;
  background: rgba(111, 207, 151, 0.87);
  border: 0;
  border-radius: 3px;
  margin-top: 1rem;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  align-self: flex-end;
}

.already-text {
  height: 18px;
  align-self: flex-end;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.link {
  text-decoration: none;
  color: #f27a54;
}

/* About Page */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 17px 42px;
  background-color: #3c444d;
}

.card img {
  margin-top: 49px;
  width: 136.5px;
  height: 145px;
  border-radius: 100%;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  padding: 1.5px;
  background: linear-gradient(90deg, #f27a54 0%, #a154f2 100%);
}

.card h4 {
  margin-top: 20px;
  text-transform: uppercase;
  color: #f27a54;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.card h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.card h3 {
  margin-top: 4px;
  font-family: Gilroy;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

.description > p {
  margin: 18px 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.457692px;
  color: #f1f8f9;
}

.label {
  margin-top: 18px;
  margin: 18px 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  letter-spacing: 1.75px;
  text-transform: uppercase;

  color: #ffffff;
}

.label a {
  text-decoration: none;
  color: #f27a54;
}

.label > h4 {
  margin: 0;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c444c;
}

footer > h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 17px;
  letter-spacing: 1.75px;
  color: #ffffff;
}

footer > h4 > span {
  color: #f27a54;
}
