footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c444c;
}

footer > h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 17px;
  letter-spacing: 1.75px;
  color: #ffffff;
}

footer > h4 > span {
  color: var(--secondary-color);
}
