.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.6rem 0.4rem;
  opacity: 0.9;
  background: var(--primary-color);
  color: #333;
  width: calc(100% - 1rem);
}

.alert > p {
  margin: 0;
}

.alert-light {
  background: var(--light-color);
}

.alert-dark {
  background: var(--dark-color);
  color: var(--primary-color);
}

.alert-danger {
  background: var(--danger-color);
  color: var(--primary-color);
}

.alert-success {
  background: var(--success-color);
  color: var(--primary-color);
}

.alert-white {
  background: var(--primary-color);
  color: #333;
  border: #ccc solid 1px;
}

.alert--appear {
  opacity: 0;
}
.alert--appear-active {
  opacity: 1;
  transition: opacity 1s;
}

.alert--exit {
  opacity: 1;
}
.alert--exit-active {
  opacity: 0;
  transition: opacity 1s;
}
