.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.2rem;
  opacity: 0.9;
  background: var(--primary-color);
  color: #333;
}

.alert-light {
  background: var(--light-color);
}

.alert-dark {
  background: var(--dark-color);
  color: var(--primary-color);
}

.alert-danger {
  background: var(--danger-color);
  color: var(--primary-color);
}

.alert-success {
  background: var(--success-color);
  color: var(--primary-color);
}

.alert-white {
  background: var(--primary-color);
  color: #333;
  border: #ccc solid 1px;
}
