.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.7rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-primary {
  background: var(--primary-color);
  color: var(--primary-color);
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: var(--primary-color);
}

.alert-danger {
  background: var(--danger-color);
  color: var(--primary-color);
}

.alert-success {
  background: var(--success-color);
  color: var(--primary-color);
}

.alert-white {
  background: var(--primary-color);
  color: #333;
  border: #ccc solid 1px;
}
