.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar {
  padding: 0.25rem 0.6rem;
  background: #272c31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.navbar a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.nav-item {
  display: flex;
  align-items: right;
  height: 80px;
}

.close-icon {
  transform: scale(0.9);
}

.nav-menu {
  box-sizing: border-box;
  margin: 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 56px);
  position: absolute;
  top: 56px;
  left: -100%;
  opacity: 1;
  transition: all 0.3s ease;
}

.nav-menu.active {
  height: calc(100% - 56px);
  margin: 0;
  background-color: var(--tertiary-color);
  padding: 2rem 0;
  top: 56px;
  left: 0;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 1;
}

.nav-links {
  font-size: 1.8rem;
  line-height: 40px;
  text-align: right;
  width: 100%;
  display: table;
  color: white;
  text-decoration: none;
  padding-right: 26px;
}

/* .nav-links:hover {
  width: 100%;
  background-color: #30363d;
  border-radius: 0;
  transition: 250ms;
} */

.navbar button {
  margin: 0 auto;
}

.branding {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.branding a {
  color: #f27a54;
}

.branding span:nth-child(2) {
  color: #fff;
}
