/* Global CSS File */
:root {
  --primary-color: #fff;
  --secondary-color: #f27a54;
  --tertiary-color: #3c444d;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

h1 {
  text-align: center;
}

.heading {
  font-size: 42px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.81);
  color: rgba(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

.sub-heading {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 25px;
}

.under-construction {
  font-size: 1.5rem !important;
  color: rgb(196, 238, 192) !important;
}

/* For Sticky Footer */
.Content {
  padding: 1rem;
  flex: 1 0 auto;
}

.Footer {
  flex-shrink: 0;
}

/* For checkbox */

.checkbox {
  position: relative;
  cursor: pointer;
  margin-right: 0.6rem;
}

.checkbox:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}

.checkbox:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
