/* Global CSS File */
:root {
    --bg-color: #30363d;
    --primary-btn-color: #6fcf97;
    --secondary-btn-color: var(--navbar-color);
    --secondary-btn-color: #30363d;
    --navbar-color: #272c31;
    --primary-color: #ffffff;
    --secondary-color: #f27a54;
    --tertiary-color: #3c444d;

    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --info-color: #a1cae2;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    text-align: center;
}

h2 {
    margin: 1rem 0;
    font-weight: 300;
}

h4 {
    font-size: 1.1rem;
    margin: 0.7rem 0;
}

h5 {
    font-size: 0.95rem;
    margin: 0.7rem 0;
}

.heading {
    margin: 1.8rem 0 0.2rem 0;
    text-align: center;
    font-weight: 400;
    font-size: 42px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--secondary-color);
    color: rgba(255, 255, 255);
    color: rgba(255, 255, 255, 0.81);
    text-transform: uppercase;
}

.sub-heading {
    font-size: 1.4rem;
    margin: 1rem 0;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.under-construction {
    font-size: 1.5rem !important;
    color: rgb(196, 238, 192) !important;
}

/* For Sticky Footer */
.Content {
    padding: 1rem;
    flex: 1 0 auto;
}

.Footer {
    flex-shrink: 0;
}

/* For card */

.card {
    background: #3c444d;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

/* For button */

.btn {
    font-size: 1rem;
    padding: 0 0.8rem;
    border: 1px solid var(--secondary-color);
}

.btn:hover {
    color: var(--primary-color);
    transition: all 0.3s ease-out;
    background-color: transparent;
}

.btn-primary {
    height: 40px;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #000000;
    background: var(--primary-btn-color);
}

.btn-primary:hover {
    padding: 6px 18px;
}

.btn-secondary {
    font-size: 0.8rem;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    background: var(--secondary-btn-color);
}

.btn-tertiary {
    font-weight: 500;
    color: #e84545;
    padding: 0;
    height: 30px;
    background: transparent;
    font-size: 0.8rem;
}

.btn-quaternary {
    border-radius: 3px;
    background: transparent;
    color: #fff;
    padding: 0.6rem;
    border: 2px solid var(--secondary-color);
}

.link-btn {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    width: 92px;
    height: 40px;
    background: var(--secondary-color);
    border-radius: 3px;
    border: 1px solid #888;
}

.link-btn:hover {
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: var(--primary-color);
}

/* For input box */

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='date'] {
    color: #000;
    padding: 0 0.4rem;
    border: 1px solid var(--secondary-color);
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--primary-color);
    width: 100%;
    height: 40px;
}

input[type='number'] {
    color: #000;
    font-size: 1.3rem;
    background: var(--primary-color);
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -ms-transition: background 0.4s ease;
    transition: background 0.4s ease;
}

input[type='number']:disabled {
    background: rgb(185, 185, 185);
    color: #000;
}

.checkbox {
    position: relative;
    cursor: pointer;
    margin-right: 0.6rem;
    margin: 0;
    max-height: 20px;
}

.checkbox:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

.checkbox:checked:after {
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 7px;
}

.AppContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Content {
    flex: 1;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

@media (min-width: 600px) {
    .AppContainer {
        width: 440px;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .Content {
        flex: 1;
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
}