html {
    height: 100vh;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-weight: 300;
    font-family: Jost;
    margin: 0;
    background-color: #111111;
    color: var(--primary-color);
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}