.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-link {
  margin: 2rem;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: Gilroy;
  color: #fff;
  font-size: 2rem;
}

.home > p {
  font-size: 1.5rem;
  color: #fff;
  font-family: Gilroy;
  text-align: center;
}

.home > h1 {
  margin: 2rem;
  text-align: center;
  font-family: Gilroy;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.home > button {
  margin: 0 auto;
}

.spinner {
  width: 80px;
  height: 80px;
  display: block;
  margin: 44px auto 0 auto;
}
