.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-link {
  margin: 2rem;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: Gilroy;
  color: #fff;
  font-size: 2rem;
}

.home > p {
  font-size: 1.5rem;
  color: #fff;
  font-family: Gilroy;
  text-align: center;
}
