.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c444d;
}

.card img {
  margin-top: 49px;
  width: 136.5px;
  height: 145px;
  border-radius: 100%;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  padding: 1.5px;
  background: linear-gradient(90deg, var(--secondary-color) 0%, #a154f2 100%);
}

.card h4 {
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 10px;
  line-height: 12px;
}

.card h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.card h3 {
  margin-top: 4px;
  font-style: italic;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

.description > p {
  margin-top: 1.2rem;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: -0.457692px;
  color: #f1f8f9;
}

.description > p > span {
  color: var(--secondary-color);
}

.label {
  margin-top: 18px;
  color: #ffffff;
}

.label a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin: 0;
}

.label > h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin: 0;
}
