.expense-details {
  display: flex;
  justify-content: center;
  min-height: 37.2px;
}

#expense-details-placeholder-div {
  min-height: 22px;
}

.total-expense-container {
  background: var(--tertiary-color);
  padding: 1.25rem;
}

.total-expense-container > h2 {
  margin: 0;
}

.total-expense-container > h1 {
  margin: 0;
  font-weight: 500;
  font-size: 20vw;
  line-height: 135px;
  text-align: center;
  color: var(--secondary-color);
}

.input-grid {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr;
  grid-auto-rows: minmax(auto, 40px);
  align-items: center;
  justify-items: center;
}

.excludes-checkbox {
  margin-right: 2rem;
}

.t-head {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  justify-items: center;
  align-items: center;
  padding: 0 0.4rem;
  height: 2rem;
  background: var(--secondary-color);
}

.t-head > h5 {
  margin: 0;
}

.checkbox {
  margin-bottom: 5px;
}

#members-name-label {
  justify-self: start;
}

.members-name {
  margin: 0;
  justify-self: start;
  margin-left: 0.4rem;
  text-transform: capitalize;
}

.new-item-container {
  display: flex;
  flex-direction: column;
}

#excludes-label {
  margin-right: 0.6rem;
}

.new-item-type {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 24px;
}

.new-item-container {
  background: var(--tertiary-color);
  margin-top: 19px;
  padding: 1.25rem;
}

.new-item-exclude,
.new-item-payer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.new-item-exclude h5,
.new-item-payer h5 {
  margin: 0;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 300;
  color: #cbcfd4;
}

.exclude,
.payer {
  margin-bottom: 0.2rem;
}

/* Members Share */
.members-share-container {
  display: flex;
  flex-direction: column;
  padding: 26px;
  background: var(--tertiary-color);
  margin-top: 20px;
}

.fa-info,
.fa-times {
  align-self: flex-end;
  color: var(--info-color);
}

.fa-times {
  color: var(--primary-color);
}

.info {
  color: var(--info-color);
}

.member-share {
  display: flex;
  margin: 0;
}

.member-share > h4 {
  text-transform: capitalize;
}

.member-share-amount {
  margin-left: auto;
  color: var(--secondary-color);
}

.line {
  background: rgba(255, 255, 255, 0.1);
  height: 1.12px;
}

.pie-chart,
.line-chart {
  margin-top: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tertiary-color);
}

.input-item > p {
  margin: 0;
  font-size: 0.8rem;
}

.desc-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.desc-input {
  background: white !important;
  color: #333 !important;
  font-size: 1.2rem;
}

.desc-input::placeholder {
  font-size: 1rem;
}

.input-grid > input {
  height: 2rem;
  border-radius: 3px;
}
