#my-expenses-message {
  text-align: center;
}

#my-expenses-message > span {
  color: var(--secondary-color);
}

.add-expense-container {
  background: var(--tertiary-color);
  padding: 1.25rem;
}

.add-expense-container > h6 {
  margin: 0.4rem 0;
}

#add-expense-input-container {
  display: flex;
}

#add-expense-success-message {
  color: var(--btn-color);
}

.fa-plane {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.expense-list-container {
  background: var(--tertiary-color);
  margin: 1rem 0;
  padding: 1.25rem;
}

.expense {
  display: flex;
  align-items: center;
}

.expense a {
  color: var(--primary-color);
  font-size: 1.4rem;
  padding: 1rem 0;
}

.expense button {
  text-transform: uppercase;
  background: transparent;
  border: 0;
  padding: 0;
}

.expense .man-btn {
  color: var(--secondary-color);
  font-size: 0.7rem;
  height: fit-content;
  margin-left: auto;
}

.expense .del-btn {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1rem;
  color: #f64034;
}
