#my-expenses-message {
  text-align: center;
}

#my-expenses-message > span {
  color: var(--secondary-color);
}

.add-expense-container {
  background: var(--tertiary-color);
  min-height: 89.156px;
  padding: 1.25rem;
}

.add-expense-container > h6 {
  margin: 0.4rem 0;
}

#add-expense-input-container {
  display: flex;
}

#add-expense-success-message {
  margin: 0.2rem 0;
  color: var(--btn-color);
}

#delete-expense-success-message {
  margin: 0.2rem 0;
  color: var(--danger-color);
}

.add-expense-success-message--appear {
  opacity: 0;
}
.add-expense-success-message--appear-active {
  opacity: 1;
  transition: opacity 1s;
}

.add-expense-success-message--exit {
  opacity: 1;
}
.add-expense-success-message--exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.delete-expense-success-message--appear {
  opacity: 0;
}
.delete-expense-success-message--appear-active {
  opacity: 1;
  transition: opacity 1s;
}

.delete-expense-success-message--exit {
  opacity: 1;
}
.delete-expense-success-message--exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.fa-money-check-alt {
  font-size: 1.4rem;
}

.expense-list-container {
  background: var(--tertiary-color);
  margin: 1rem 0;
  padding: 1.25rem;
}

.expense {
  display: flex;
  align-items: center;
}

.expense a {
  color: var(--primary-color);
  font-size: 1rem;
  padding: 0.8rem 0;
}

.expense button {
  text-transform: uppercase;
  background: transparent;
  border: 0;
  padding: 0;
}

.expense .man-btn {
  color: var(--secondary-color);
  font-size: 0.57rem;
  height: fit-content;
  margin-left: auto;
}

.expense .del-btn {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1rem;
  color: #f64034;
}
