.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-link {
  margin: 2rem;
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
}

.home > p {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: center;
}

.home > h1 {
  margin: 2rem;
  text-align: center;
  color: var(--primary-color);
  font-size: 1.8rem;
}

.spinner {
  width: 80px;
  height: 80px;
  display: block;
  margin: 44px auto 0 auto;
}

.under-construction > .fa-truck-pickup {
  margin-left: 8px;
}

#logout-btn {
  margin: 0;
  background: transparent;
  outline: 0;
}
