.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container > img {
  align-self: center;
}

.overview {
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}

.overview > img {
  align-self: center;
  margin-bottom: 2rem;
}

.overview > .overview-summary > h3 {
  margin: 0;
}

.fa-chevron-right {
  margin-left: 0.4rem;
}

.fa-question {
  margin-left: 0.4rem;
}

#how-to-use-btn {
  margin-top: 1rem;
  border: 2px #dbdada solid;
}

.features {
  margin: 0.8rem 0;
}

.features > section {
  margin: 2rem 0;
}

.features img {
  border: 2px solid var(--tertiary-color);
}

#multi-use {
  display: flex;
}

#multi-use-summary {
  margin-right: 1rem;
}

#manage-members {
  display: flex;
}

#manage-members-summary {
  margin-left: 1rem;
}

#full-control {
  display: flex;
}

#full-control-summary {
  margin-right: 1rem;
}

#members-share {
  display: flex;
}

#members-share-summary {
  margin-left: 1rem;
}

#members-share > img {
  height: 100%;
  align-self: center;
}

#all-transactions {
  display: flex;
}

#all-transactions-summary {
  margin-right: 1rem;
}

#analytics-chart-report {
  display: flex;
}

#analytics-chart-summary {
  margin-left: 1rem;
}

#generate-report {
  display: flex;
}

#generate-report-summary {
  margin-right: 1rem;
}
