#member-message {
  text-align: center;
}

#member-message > span {
  color: var(--secondary-color);
}

.add-member-container-xl {
  background: var(--tertiary-color);
  min-height: calc(89.156px + 40px);
  padding: 1.25rem;
}

.add-member-container-xs {
  background: var(--tertiary-color);
  min-height: 89.156px;
  padding: 1.25rem;
}

.add-member-container-xs > h6,
.add-member-container-xl > h6 {
  margin: 0.4rem 0;
}

#add-member-input-container {
  display: flex;
}

#add-member-success-message {
  margin: 0.2rem 0;
  color: var(--btn-color);
}

#delete-member-success-message {
  margin: 0.2rem 0;
  color: var(--danger-color);
}

.add-member-success-message--appear {
  opacity: 0;
}
.add-member-success-message--appear-active {
  opacity: 1;
  transition: opacity 1s;
}

.add-member-success-message--exit {
  opacity: 1;
}
.add-member-success-message--exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.delete-member-success-message--appear {
  opacity: 0;
}
.delete-member-success-message--appear-active {
  opacity: 1;
  transition: opacity 1s;
}

.delete-member-success-message--exit {
  opacity: 1;
}

.delete-member-success-message--exit-active {
  opacity: 0;
  transition: opacity 1s;
}

#placeholder-div {
  min-height: calc(15px + 0.4rem);
}

#done-adding-members {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

.member-list-container {
  background: var(--tertiary-color);
  margin: 1rem 0;
  padding: 1.25rem;
}

/* .clear-btn {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 1.2rem;
  color: var(--tertiary-color);
  position: relative;
  left: -20px;
  opacity: 0.8;
} */

.member {
  margin: 0.6rem 0;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
}

.member-name {
  margin: 0;
}

.member .edit-btn {
  outline: 0;
  margin-left: auto;
  border: 0;
  color: var(--primary-color);
  background: transparent;
}

.member .delete-btn {
  outline: 0;
  font-size: 1.1rem;
  border: 0;
  background: transparent;
  margin-left: 0.4rem;
}

.fa-times {
  border: 0;
  color: #f64034;
  opacity: 0.8;
}
