.suggestions {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.suggestions > span {
  color: var(--secondary-color);
}

.member-list-container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
}

.member-list-container > h5 {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

.member-list-container > h6 {
  font-weight: 400;
  color: #cbcfd4;
  margin: 0;
}

.member-list-container > h2 {
  font-size: 24px;
  line-height: 0px;
  text-align: center;
  color: #ffffff;
}

#add-member-input-container {
  display: flex;
}

.clear-btn {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 1.2rem;
  color: var(--tertiary-color);
  position: relative;
  left: -20px;
  opacity: 0.8;
}

.members-name-container {
  margin-top: 1rem;
}

.member-edit-btn {
  background-color: transparent !important;
}

.member {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.member-name {
  margin: 0;
}

.message {
  color: #6fcf97 !important;
}

.member .edit-btn {
  outline: 0;
  margin-left: auto;
  border: 0;
  color: var(--primary-color);
  background: transparent;
}

.member .delete-btn {
  outline: 0;
  font-size: 1.1rem;
  border: 0;
  background: transparent;
  margin-left: 0.4rem;
}

.fa-times {
  border: 0;
  color: #f64034;
  opacity: 0.8;
}
