.not-supported {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.not-supported > div {
  display: flex;
}

.not-supported-text > div > h1 {
  margin: 0;
  font-size: 8vw;
}

.not-supported-text > div > h1 > span {
  color: var(--secondary-color);
}

.not-supported-text > div > p {
  font-size: 1.4vw;
  text-align: right;
  margin: -3vw 0;
  opacity: 0.6;
}
