.all-transactions-container > .heading {
  margin: 1rem 0;
}

.transaction {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.transaction-collapse {
  display: flex;
  align-items: center;
}

.dropdown {
  border: 1px solid var(--secondary-color);
}

.dropdown-items {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  margin-bottom: 1rem;
}

.dropdown-payers-items {
  display: flex;
  flex-direction: column;
}

.dropdown-payer-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.dropdown-payer-item > h5:nth-of-type(1) {
  margin: 0 0 0 0.3rem;
}

.dropdown-payer-item > h5:nth-of-type(2) {
  margin: 0 0 0 1rem;
}

.dropdown-excludes-items {
  display: flex;
  flex-direction: column;
}

.dropdown-excludes-items > h5 {
  margin: 0;
}

.dropdown-label {
  display: flex;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: 0.9em;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #009879;
  background-color: var(--secondary-color);
}

.dropdown-label > h5:nth-of-type(1) {
  margin-left: 1rem;
}

.dropdown-label > h5:nth-of-type(2) {
  margin-left: 1.4rem;
}

.dropdown-label > h5:nth-of-type(3) {
  margin-left: auto;
  margin-right: 3.2rem;
}

.dropdown-label > h5 {
  margin: 0.3rem 0rem;
}

.fa-caret-square-down {
  margin-left: 1rem;
}

.transaction-amount {
  margin-left: auto;
  color: var(--secondary-color);
}
